* {
    box-sizing: border-box;
    text-align: center;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #777;
    width: 960px;
    font-size: 18px;
    margin-left: 100px;
    margin-right: 100px;
}

header {
    padding: 25px;
    margin-bottom: 10px;
    margin-top: 8px;
    background: #ebebeb;
    
}

nav {
    padding: 25px;
    margin-bottom: 20px;
    background: #ebebeb;
    height: 70px;
   }

#main{
    /*display: table-cell;*/
    width: 100%;
    /*Hacer las dos secciones del mismo alto automatico*/
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;   
}

.h1{
    font-size: 18px;
    font-weight: normal;
}

#s1{
    padding: 20px;
    background: #eee;
    width: 495px;
    float: left; 
    margin-right: 20px;
}

article{
    background: #777;
    padding: 12px;
    }

.p-article01{
    color:white;
    margin: -1px 0px 10px 0px; 
}

.h-article{
    background: #ebebeb;
    padding: 10px;
    margin: -1px 8px 0px 8px;
}

.p-article02{
    background: #ebebeb;
    padding: 10px;    
    margin: 10px 8px 8px 8px;
}

#aside{
    padding: 20px;
    background: #ebebeb;
    width: 445px;
    float: right; 
}

footer{
    padding: 25px;
    margin-bottom: 20px;
    background: #eee;
    height: 70px;
}