* {
    box-sizing: border-box;
    text-align: center;
}

body{
    background: #777;
    color: #777;
    width: 960px;
    font-size: 18px;
    margin-left: 100px;
    margin-right: 100px;
}


header {
    padding: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #333;
    background: #ebebeb;
}

nav {
    padding: 20px;
    margin-bottom: 20px;
    background: #ebebeb;
    color: #333;
    background: #eee;
}

#main{
    /*display: table-cell;*/
    width: 100%;
    /*Hacer las dos secciones del mismo alto automatico*/
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    
}

#s1{
    padding: 20px;
    color: #333;
    background: #eee;
    width: 60%;
    float: left; 
    margin-right: 10%;
}

#aside{
    padding: 20px;
    color: #333;
    background: #ebebeb;
    width: 30%;
    float: right; 
    
    
    /*margin-left: 5px;*/
}

footer{
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #333;
    background: #eee;
}